.footer__grid-navigation
    .footer__grid-navigation-blank
    .footer__grid-navigation-fetch
        h3
            a("href=#") Фетч
        ul
            li
                a("href=#") Магазин
            li
                a("href=#") Блог
            li
                a("href=#") Доставка и оплата
        ul.footer__grid-navigation-fetch_contacts
            li
                a("href=#") shop@fetch.ru
            li.footer__grid-navigation-fetch_contacts-phone
                p 8 800 912-11-42
            li.footer__grid-navigation-fetch_contacts-text
                p Звонок бесплатный
    .footer__grid-navigation-men
        a("href=#")
            h3 Для мужчин
        ul
            li
                a("href=#") Верзняя одежда
            li
                a("href=#") Рубашки и поло
            li
                a("href=#") Трикотаж
            li
                a("href=#") Брюки и джинсы
            li
                a("href=#") Бельё и носки
    .footer__grid-navigation-women
        a("href=#")
            h3 Для женщин
        ul
            li
                a("href=#") Верзняя одежда
            li
                a("href=#") Рубашки и поло
            li
                a("href=#") Трикотаж
            li
                a("href=#") Поатья и юбки
            li
                a("href=#") Бельё и носки
    .footer__grid-navigation-shoes
        a("href=#")
            h3 Обувь
        ul
            li
                a("href=#") Кроссовки и кеды
            li
                a("href=#") Ботинки
    .footer__grid-navigation-accessories
        a("href=#")
            h3 Аксессуары
        ul
            li
                a("href=#") Сумки и рюкзаки
            li
                a("href=#") Часы
            li
                a("href=#") Бижутерия
            li
                a("href=#") Средства для ухода
    .footer__grid-navigation-discounts
        a("href=#")
            h3 Скидки
        ul
            li
                a("href=#") Летняя распродажа
            li
                a("href=#") Коллекция 2018
.footer__grid-copyright
    .footer__grid-copyright-blank
    .footer__grid-copyright_fetch © Фетч-команда, 2019
    .footer__grid-copyright_rules
        a("href=#") Правила обработки персональных данных
    .footer__grid-copyright_dev
        a("href=#") Разработка и поддержка сайта