.footer__grid-navigation
    .footer__grid-navigation-blank
    .footer__grid-navigation-fetch(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        h3
            a(href="/build/about.html" itemprop="url" ) Фетч
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/about.html" itemprop="url" )
                    span(itemprop="name") Магазин
            li(itemprop="itemListElement")
                a(href="/build/about.html" itemprop="url" )
                    span(itemprop="name") Блог
            li(itemprop="itemListElement")
                a(href="/build/about.html" itemprop="url" )
                    span(itemprop="name") Доставка и оплата
        ul.footer__grid-navigation-fetch_contacts(itemscope itemtype="https://schema.org/Store")
            li
                a(href="mailto:shop@fetch.ru" itemprop="email") shop@fetch.ru
            li.footer__grid-navigation-fetch_contacts-phone
                p(itemprop="telephone") 8 800 912-11-42
            li.footer__grid-navigation-fetch_contacts-text
                p Звонок бесплатный
    .footer__grid-navigation-men(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/catalog.html" itemprop="url" )
            h3 Для мужчин
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Верхняя одежда
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Рубашки и поло
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Трикотаж
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Брюки и джинсы
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Бельё и носки
    .footer__grid-navigation-women(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/catalog.html" itemprop="url" )
            h3 Для женщин
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Верхняя одежда
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Рубашки и поло
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Трикотаж
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url")
                    span(itemprop="name") Платья и юбки
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url")
                    span(itemprop="name") Бельё и носки
    .footer__grid-navigation-shoes(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/catalog.html" itemprop="url" )
            h3 Обувь
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Кроссовки и кеды
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Ботинки
    .footer__grid-navigation-accessories(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/catalog.html" itemprop="url" )
            h3 Аксессуары
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Сумки и рюкзаки
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Часы
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Бижутерия
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Средства для ухода
    .footer__grid-navigation-discounts(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/catalog.html" itemprop="url" )
            h3 Скидки
        ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Летняя распродажа
            li(itemprop="itemListElement")
                a(href="/build/catalog.html" itemprop="url" )
                    span(itemprop="name") Коллекция 2018
.footer__grid-copyright
    .footer__grid-copyright-blank
    .footer__grid-copyright_fetch © Фетч-команда, 2019
    .footer__grid-copyright_rules(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="#pravila" itemprop="url" ).section-footer__js-popup-rules
            span(itemprop="name") Правила обработки персональных данных
    .footer__grid-copyright_dev(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="https://github.com/viste1/viste1.github.io" itemprop="url")
            span(itemprop="name") Разработка и поддержка сайтаx`

include footerRulesPopup