head
    link(rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap")

    link(rel="stylesheet" href="styles/main.css")

    link(rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css")

    link(rel="stylesheet" type="text/css" href="vendor/magnific/magnific-popup.css")

    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-16.png" sizes="16x16")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-32.png" sizes="32x32")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-48.png" sizes="48x48")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-64.png" sizes="64x64")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-152.png" sizes="152x152")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-167.png" sizes="167x167")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-180.png" sizes="180x180")
    link(rel="shortcut icon" type="image/png" href="assets/favicon/favicon-192.png" sizes="192x192")
    link(rel="apple-touch-icon" href="assets/favicon/favicon-180.png" sizes="180x180")