section#section-main.section-main
    .section-main__grid
        .section-main__first-column
            h1
                div Репро
                div дукцио
            h2 Оффлайн-магазин репродукций шедевров мирового искусства
            .section-main__first-column__address-and-contacts
                ul.section-main__first-column__address
                    li Санкт-Петербург,
                    li ул. Адмирала Черокова,
                        span 18
                ul.section-main__first-column__contacts.hover_lightGray
                    li +7 812 960-22-01
                    li
                        a(href="mailto:shop@reproduct.io" itemprop="email") shop@reproduct.io
        .section-main__second-column
            .section-main__js-slider-full
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/yavlenie.webp' type='image/webp')
                        img(srcset="assets/img/yavlenie.jpg" alt="Явление")
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/birth.webp' type='image/webp')
                        img(srcset="assets/img/birth.jpg" alt="Рождение Венеры")
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/serafim.webp' type='image/webp')
                        img(srcset="assets/img/serafim.jpg" alt="Шестикрылый Серафим")
        .section-main__third-column
            .section-main__js-slider-mini
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/yavlenie.webp' type='image/webp')
                        img(srcset="assets/img/yavlenie.jpg" alt="Явление")
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/birth.webp' type='image/webp')
                        img(srcset="assets/img/birth.jpg" alt="Рождение Венеры")
                .slider__item
                    picture.js-difLazy
                        source(srcset='assets/img/serafim.webp' type='image/webp')
                        img(srcset="assets/img/serafim.jpg" alt="Шестикрылый Серафим")