section#section-main.section-main
    .section-main-grid
        .section-main-first-column
            h1
                div Репро
                div дукцио
            h2 Оффлайн-магазин репродукций шедевров мирового искусства
            .section-main-first-column-address-and-contacts
            ul.section-main-first-column-address
                li Санкт-Петербург,
                li ул. Адмирала Черокова,
                    span 18
            ul.section-main-first-column-contacts.hover-lightGray
                li +7 812 960-22-01
                li
                    a(href="mailto:shop@reproduct.io" itemprop="email") shop@reproduct.io
        .section-main-second-column
            .section-main-js-slider-full
                .slider__item
                    img(src="assets/img/yavlenie.jpg" alt="Явление")
                .slider__item
                    img(src="assets/img/birth.jpg" alt="Рождение Венеры")
                .slider__item
                    img(src="assets/img/serafim.jpg" alt="Шестикрылый Серафим")
        .section-main-third-column
            .section-main-js-slider-mini
                .slider__item
                    img(src="assets/img/yavlenie.jpg" alt="Явление")
                .slider__item
                    img(src="assets/img/birth.jpg" alt="Рождение Венеры")
                .slider__item
                    img(src="assets/img/serafim.jpg" alt="Шестикрылый Серафим")