section#section-main.section-main
    .section-main-grid(itemscope itemtype="https://schema.org/Person")
        .section-main-column-first
            img(
                class="section-main-image"
                src="assets/img/avatarcat.jpg"
                alt="Кот фото")
        .section-main-column-second.reff-blue
            p Имя: 
                span.text(itemprop="givenName") Виталий
            p Фамилия: 
                span.text(itemprop="familyName") Степанов
            p Пол: 
                span.text(itemprop="gender") Мужской
            p Рост: 
                span.text(itemprop="height") 175 см
            p Масса: 
                span.text(itemprop="weight") 65 кг
            p Дата рождения: 
                span.text(itemprop="addressLocality") 08.05.1994
            p Email: 
                a.text(href="mailto:v@stepanov.work" itemprop="email") v@stepanov.work
        .section-main-column-third.reff-blue
            ul
                li
                    a(href="https://www.kinopoisk.ru/film/371/") "Спасти рядового Райана"
                li
                    a(href="https://www.kinopoisk.ru/film/496/") "Особое мнение"
                li
                    a(href="https://www.kinopoisk.ru/film/435/") "Зеленая миля"
                li
                    a(href="https://www.kinopoisk.ru/film/397667/") "Остров проклятых"
                li
                    a(href="https://www.kinopoisk.ru/film/309/") "Эквилибриум"
                li
                    a(href="https://www.kinopoisk.ru/film/370/") "Унесённые призраками"