nav.header-menu
    .header-menu__label
        a(href="#") Фетч
    ul.header-menu__list
        li
            a(href="#") Одежда
        li
            a(href="#") Обувь
        li
            a(href="#") Аксессуары
        li
            a(href="#") Блог
        li
            a(href="#") Магазин
        li
            a(href="#") Доставка и оплата
    .header-menu__order
        .header-menu__order-icon
            p.header-menu__order-icon_amount 4
        a.header-menu__order-text(href="#") Оформить заказ