nav.header-menu
    .header-menu__label(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="../index.html" itemprop="url")
            span(itemprop="name") Фетч
    ul.header-menu__list(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Одежда
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Обувь
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Аксессуары
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Блог
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Магазин
        li(itemprop="itemListElement")
            a(href="../catalog.html" itemprop="url")
                span(itemprop="name") Доставка и оплата
    .header-menu__order(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        .header-menu__order-icon
            p.header-menu__order-icon_amount 4
        a.header-menu__order-text(href="../checkout.html" itemprop="url")
            span(itemprop="name") Оформить заказ