nav.header-menu
    .header-menu__label(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a(href="/build/index.html" itemprop="url")
            span(itemprop="name") Фетч
    .header-menu__list.nav__js-slider(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        .nav__slick_container
            a(href="/build/catalog.html" itemprop="url")
                span(itemprop="name") Одежда
        .nav__slick_container
            a(href="/build/catalog.html" itemprop="url")
                span(itemprop="name") Обувь
        .nav__slick_container
            a(href="/build/catalog.html" itemprop="url")
                span(itemprop="name") Аксессуары
        .nav__slick_container
            a(href="/build/about.html" itemprop="url")
                span(itemprop="name") Блог
        .nav__slick_container
            a(href="/build/about.html" itemprop="url")
                span(itemprop="name") Магазин
        .nav__slick_container
            a(href="/build/about.html" itemprop="url")
                span(itemprop="name") Доставка и оплата
    .header-menu__order(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
        a
            .header-menu__order-icon
            p.header-menu__order-icon_amount 4
            a.header-menu__order-text(href="/build/checkout.html" itemprop="url")
                span(itemprop="name") Оформить заказ