section#section-popular.section-popular
    .section-popular-grid
        .section-popular-first-row
            h2 Популярное
            h3 Нестареюшая классика и бестселлеры.
        .section-popular-second-row
            .section-popular-js-slider-full
                div
                    img(src="assets/img/serga.jpg" alt="Девушка с жемчужной серёжкой")
                div
                    img(src="assets/img/bonapart.jpg" alt="Бонапарт на перевале")
                div
                    img(src="assets/img/ohotniki.jpg" alt="Охотники на снегу")
                div
                    img(src="assets/img/serga.jpg" alt="Девушка с жемчужной серёжкой")
                div
                    img(src="assets/img/bonapart.jpg" alt="Бонапарт на перевале")
                div
                    img(src="assets/img/ohotniki.jpg" alt="Охотники на снегу")