section#section-popular.section-popular
    .section-popular__grid
        .section-popular__first-row
            h2 Популярное
            h3 Нестареюшая классика и бестселеры.
        .section-popular__second-row
            .section-popular__js-slider-full
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        img(srcset="assets/img/serga.jpg" alt="Девушка с жемчужной серёжкой")
                    h3
                        span Девушка с жемчужной серёжкой,
                        span  1665
                    .section-popular__info-grid
                        p.section-popular__author Ян Вермеер
                        p.section-popular__canvas
                            span 44x39 см,
                            span  холст
                        p.section-popular__price
                            span 900
                            span  ₽
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        img(srcset="assets/img/bonapart.jpg" alt="Бонапарт на перевале")
                    h3
                        span Бонапарт на перевале Сен-Бернар,
                        span  1801
                    .section-popular__info-grid
                        p.section-popular__author Жак-Луи Давид
                        p.section-popular__canvas
                            span 261x220 см,
                            span  холст
                        p.section-popular__price
                            span 3 900
                            span  ₽
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='ohotniki.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='ohotniki.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='ohotniki.jpg' type='image/jpeg')
                        img(srcset="assets/img/ohotniki.jpg" alt="Охотники на снегу")
                    h3
                        span Охотники на снегу,
                        span  1565
                    .section-popular__info-grid
                        p.section-popular__author Питер Брейгиль Старший
                        p.section-popular__canvas
                            span 117x162 см,
                            span  холст
                        p.section-popular__price
                            span 2 400
                            span  ₽
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='assets/img/serga.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='assets/img/serga.jpg' type='image/jpeg')
                        img(srcset="assets/img/serga.jpg" alt="Девушка с жемчужной серёжкой")
                    h3
                        span Девушка с жемчужной серёжкой,
                        span  1665
                    .section-popular__info-grid
                        p.section-popular__author Ян Вермеер
                        p.section-popular__canvas
                            span 44x39 см,
                            span  холст
                        p.section-popular__price
                            span 900
                            span  ₽
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='assets/img/bonapart.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='assets/img/bonapart.jpg' type='image/jpeg')
                        img(srcset="assets/img/bonapart.jpg" alt="Бонапарт на перевале")
                    h3
                        span Бонапарт на перевале Сен-Бернар,
                        span  1801
                    .section-popular__info-grid
                        p.section-popular__author Жак-Луи Давид
                        p.section-popular__canvas
                            span 261x220 см,
                            span  холст
                        p.section-popular__price
                            span 3 900
                            span  ₽
                div
                    picture.js-lazy
                        source(media="(max-width: 767px)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(max-width: 1023px)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(min-width: 1024)" srcset='ohotniki.webp' type='image/webp')
                        source(media="(max-width: 767px)" srcset='ohotniki.jpg' type='image/jpeg')
                        source(media="(max-width: 1023px)" srcset='ohotniki.jpg' type='image/jpeg')
                        source(media="(min-width: 1024)" srcset='ohotniki.jpg' type='image/jpeg')
                        img(srcset="assets/img/ohotniki.jpg" alt="Охотники на снегу")
                    h3
                        span Охотники на снегу,
                        span  1565
                    .section-popular__info-grid
                        p.section-popular__author Питер Брейгиль Старший
                        p.section-popular__canvas
                            span 117x162 см,
                            span  холст
                        p.section-popular__price
                            span 2 400
                            span  ₽