section#section-popular.section-popular
    .section-popular-grid
        .section-popular-first-column
            h2 Популярное
            h3 Нестареюшая классика и бестселлеры.
        .section-popular-second-column
            .section-popular-js-slider-full
                .slider__item
                    img(src="assets/img/serga.jpg" alt="Девушка с жемчужной серёжкой")
                .slider__item
                    img(src="assets/img/bonapart.jpg" alt="Бонапарт на перевале")
                .slider__item
                    img(src="assets/img/ohotniki.jpg" alt="Охотники на снегу")