section.section-recommendations
.section-recommendations__grid
    .section-recommendations__first-row
        h2 Вам может быть интересно
    .section-recommendations__second-row
        .section-recommendations__js-slider-full
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker1.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker1.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker2.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker2.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker3.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker3.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker4.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker4.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker5.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker5.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker6.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker6.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker3.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker3.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽
            .section-recommendations__slick_container(itemscope itemtype="https://schema.org/Product")
                a(href="/build/item.html" itemprop="url")
                    picture(itemprop="image")
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/recommendations/recommendations_sneaker7.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/recommendations/recommendations_sneaker7.jpg" width="240" height="240" alt="Maison Margiela Fusion Low Sneakers")
                    h3(itemprop="name")
                        span Maison Margiela Fusion
                        span Low Sneakers
                p(itemprop="alternateName") Кроссовки
                p.section-recommendations__slick_price(itemprop="price") 92 000
                    span(itemprop="priceCurrency")  ₽