section#section-writeUs.section-writeUs
    .section-writeUs__grid
        .section-writeUs__first-column
        .section-writeUs__second-column
            h2 Написать нам
            h3
                div Заполните форму справа
                div или отправьте письмо на shop@reproduct.io
            .section-writeUs__second-column__footer-text
                p Репродукцио, 2019
                a.section-writeUs__js-popup-rules(href="#pravila") Правила обработки персональных данных
        .section-writeUs__third-column
            form.section-writeUs__form
                .section-writeUs__form_email-test
                    input.section-writeUs__form_email(type="email" placeholder="Эл. почта" required)
                div
                    input.section-writeUs__form_text(type="text" placeholder="Сообщение" required)
                .hover_border.section-writeUs__form-div_submit
                    input.section-writeUs__form_submit(type="submit" value="Отправить сообщение")
        .section-writeUs__4th-column

include writeUsSectionRulesPopup