section#section-writeUs.section-writeUs
    .section-writeUs-grid
        .section-writeUs-first-column
        .section-writeUs-second-column
            h2 Написать нам
            h3
                div Заполните форму справа
                div или отправьте письмо на shop@reproduct.io
            .section-writeUs-second-column-footer-text
                p Репродукцио, 2019
                a.js-link-pravila-popup(href="#pravila") Правила обработки персональных данных
        .section-writeUs-third-column
        .section-writeUs-4th-column

.mfp-hide.white-popup-block#pravila
    .slideee Какой-то текст в окне 1
    .slideee Какой-то текст в окне 2