section.main-header
    .section-main__js-slider-full
        .slider__item
            include ../nav
            img(data-lazy="assets/img/image2.jpg" width="1440" height="600" alt="Явление")
            a.main-header__slider-text(href="#")
                span Reebok Aztrek
                span Double
        .slider__item
            include ../nav
            img(data-lazy="assets/img/image2.jpg" width="1440" height="600" alt="Явление")
            a.main-header__slider-text(href="#")
                span Reebok Aztrek
                span Double
    .main-header__grid-under-bigSlider
        .main-header__grid-under-bigSlider_text
            h1 Фетч
                span  — мультибрендовый магазин модной одежды.
            p Слежим за трендами и часто обновляем ассортимент.
            p
                | Доставляем по Москве
                br
                | за день, по России — 
                br
                | за неделю.
        .main-header__grid-under-bigSlider_navigation
            include ../footer