section.main-header
    .section-main__js-slider-full
        .slider__item(itemscope itemtype="https://schema.org/Product")
            include ../nav
            picture(itemprop="image")
                source(data-lazy="assets/img/homepage/main_bigSlider_1.webp" type='image/webp')
                img(data-lazy="assets/img/homepage/main_bigSlider_1.jpg" width="1440" height="600" alt="Больщое изображение на слайдере, на главной странице")
            a.main-header__slider-text(href="/item.html" itemprop="url")
                span(itemprop="name") Reebok Aztrek
                span(itemprop="name") Double
        .slider__item(itemscope itemtype="https://schema.org/Product")
            include ../nav
            picture(itemprop="image")
                source(data-lazy="assets/img/homepage/main_bigSlider_1.webp" type='image/webp')
                img(data-lazy="assets/img/homepage/main_bigSlider_1.jpg" width="1440" height="600" alt="Больщое изображение на слайдере, на главной странице")
            a.main-header__slider-text(href="/item.html" itemprop="url")
                span(itemprop="name") Reebok Aztrek
                span(itemprop="name") Double
    .main-header__grid-under-bigSlider
        .main-header__grid-under-bigSlider_text
            h1 Фетч
                span  — мультибрендовый магазин модной одежды.
            p Следим за трендами и часто обновляем ассортимент.
            p
                | Доставляем по Москве
                br
                | за день, по России — 
                br
                | за неделю.
        .main-header__grid-under-bigSlider_navigation
            include ../footer