section.promo-block
    .promo-block__grid
        a(href="/build/catalog.html").promo-block__grid_block1
            p Лукбук, лето 2019
        a(href="/build/catalog.html").promo-block__grid_block2
            p Выбор редакции: часы
        a(href="/build/catalog.html").promo-block__grid_block3
            p Новая коллекция adidas Originals
        a(href="/build/item.html").promo-block__grid_block4
            p Предзаказ: Maison Margiela Fusion