section.promo-block
    .promo-block__grid
        a(href="/build/catalog.html").promo-block__grid_block1
        a(href="/build/catalog.html").promo-block__grid_block2
        a(href="/build/catalog.html").promo-block__grid_block3
        a(href="/build/item.html").promo-block__grid_block4