section.promo-block
    .promo-block__grid
        a(href="../catalog.html").promo-block__grid_block1
        a(href="../catalog.html").promo-block__grid_block2
        a(href="../catalog.html").promo-block__grid_block3
        a(href="../item.html").promo-block__grid_block4