@import "../colors.scss";

.section-checkout-main__grid{
  margin: 3.2rem 24.8rem 0 12.8rem;
  height: 68.9rem;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 48.8rem 48.8rem;
  grid-column-gap: 8.8rem;
}

.section-checkout-main__grid-left-container{
  font-size: 2.14rem;
  h1{
    padding-left: 2.5rem;
    margin-bottom: 3.2rem;
  }
}

.section-checkout-main__grid-right-container {
  margin-top: 7.3rem;
  background: $lightest-gray;
  height: 47rem;
}

.section-checkout-main__grid-right-container_form{
  height: 37.2rem;
}

.section-checkout-main__grid-right-container_form-button{
  height: 9.8rem;
  background: $light-gray;
}

.section-checkout-main__grid-left-container_items{
  height: 61.6rem;
  background: $light-gray;
}

.section-checkout-main__grid-right-container_form-button__grid{
  display: grid;
  grid-template-areas: "text button";
  grid-template-columns: 7.5rem 32.5rem;
  height: 5.5rem;
  background: yellow;
  &:hover{
    border: 0.5rem $blue solid;
  }
}

.section-checkout-main__grid-right-container_form-button__grid_text{
  grid-area: text;
  color: green;
}

.section-checkout-main__grid-right-container_form-button__grid_button{
  grid-area: button;
  color: red;
}