$white: #fff;
$black: #000;
$blue: #4541FE;
$light-blue: #7482FF;
$pink: #FFA88C;
$light-pink: #FFE9FD;
$gray: #666;
$light-gray: #AFAFAF;
$lightest-gray: #F3F3F3;
$gray-border: #DDD;
$gray-input:#FBFBFB;
$yellow: #FFC908;
$yellow-dark: #FFBA08;