@import "src/styles/colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: $white;
}

body {
  font-family: 'PT Sans', sans-serif;
  @font-face {
    font-display: swap;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  outline: none;
  &:hover{
    cursor: url("/assets/img/cursors/pointer.png"), pointer;
    color: $blue;
  }
}

section{
  max-width: 144rem;
  margin: auto;
}