@import "colors.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: $black;
}

body {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $blue;
}

h2 {
  line-height: 0.9;
  font-size: 6.9rem;
}
h3{
  margin-top: 3rem;
  font-weight: normal;
  line-height: 0;
  font-size: 2.3rem;
}

.section-main__grid, .section-popular__grid, .section-writeUs__grid{
  max-width: 191rem;
  margin: auto;
}

.section-popular, .section-writeUs{
  background: $black;
  color: $white;
  h3{
    color: $silver;
  }
}

.section-main__first-column, .section-main__second-column, .section-popular__first-row{
  margin: 4rem 5rem;
}

.slick-slide{
  outline: none;
}

@import "sliders.scss";
@import "hovers.scss";
@import "sectionMain.scss";
@import "sectionPopular.scss";
@import "sectionWriteUs.scss";