@import "colors.scss";

.header-menu{
  position: absolute;
  width: 144rem;
  margin: auto;
  display: grid;
  grid-template-areas:
          "label list order";
  grid-template-rows: 3.4rem;
  grid-template-columns: 17.2% 1fr 20.2%;
  padding-bottom: 1.4rem;
  a{
    color: $black;
    &:hover{
      color: $blue;
    }
  }
}

.header-menu__label{
  padding-left: 15.2rem;
  padding-top: 0.75rem;
  font-weight: 600;
  font-size: 2.5rem;
  a{
    line-height: 0;
  }
}

.header-menu__list{
  display: -webkit-box;
  padding-bottom: 0.2rem;
  font-size: 1.62rem;
  li{
    margin-left: 2.38rem;
    border-bottom: 0.14rem $black solid;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 2.9;
    &:hover
    {
      border-color: $blue;
    }
    &:nth-child(1){
      margin-left: 0;
    }
  }
}

.header-menu__order{
  padding-top: 1.3rem;
  font-size: 1.62rem;
  display: -webkit-box;
}

.header-menu__order-icon
{
  width: 1.8rem;
  height: 2.5rem;
  left: 0;
  background: url("/assets/img/nav/cart.svg") 0 0 / 100% no-repeat;
  margin-top: 0.3rem;
  margin-left: 0.1rem;
}

.header-menu__order-text{
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  border-bottom: 0.14rem $black solid;
  margin-left: 0.55rem;
  &:hover
  {
    border-color: $blue;
  }
}

.header-menu__order-icon_amount{
  font-size: 1.3rem;
  position: absolute;
  top:0;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 30;
  color: $white;
  border-radius: 50%;
  background: $blue;
  text-align: center;
  margin: 0.7rem 0 0 0.7rem;
}