@import "colors";

.header-menu{
  position: absolute;
  width: 144rem;
  margin: auto;
  display: grid;
  grid-template-areas:
          "label list order";
  grid-template-rows: 3.4rem;
  grid-template-columns: 17.2% 90rem 20.2%;
  padding-bottom: 1.4rem;
  a{
    color: $black;
    &:hover{
      color: $blue;
    }
  }
}

.header-menu__label{
  grid-area: label;
  padding-left: 15.2rem;
  padding-top: .75rem;
  font-weight: 600;
  font-size: 2.4rem;
  a{
    line-height: 0;
  }
}

.header-menu__list{
  grid-area: list;
  font-size: 1.6rem;
  a{
    margin: 1.5rem 2.45rem 0 0;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    border-bottom: .14rem $black solid;
    &:hover{
      border-color: blue;
    }
  }
}

.header-menu__order{
  grid-area: order;
  margin-top: 1.2rem;
  font-size: 1.62rem;
  display: flex;
}

.header-menu__order-icon
{
  width: 1.8rem;
  height: 2.5rem;
  left: 0;
  background: url("https://viste1.github.io/build/assets/img/nav/cart.svg") 0 0 / 100% no-repeat;
  margin: .4rem 0 0 .1rem;
}

.header-menu__order-text{
  display: inline-block;
  vertical-align: baseline;
  line-height: 1.6;
  border-bottom: .14rem $black solid;
  margin-left: .65rem;
  margin-bottom: .15rem;
  &:hover
  {
    border-color: $blue;
  }
}

.header-menu__order-icon_amount{
  font-size: 1.3rem;
  position: absolute;
  top:0;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 30;
  color: $white;
  border-radius: 50%;
  background: $blue;
  text-align: center;
  margin: .8rem 0 0 .9rem;
}

.dark{
  .header-menu{
    background: linear-gradient(269.92deg, rgba(0, 0, 0, 0) .07%, #0C0C0C 99.93%);
    a{
      color: $white;
      &:hover{
        color: $light-gray;
      }
    }
  }
  .header-menu__list{
    a{
      border-color: $white;
      &:hover{
        color: $light-gray;
        border-color: $light-gray;
      }
    }
  }
  .header-menu__order-text{
    border-color: $white;
    &:hover
    {
      border-color: $light-gray;
    }
  }

  .header-menu__order-icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .main-header__slider-text{
    color: $white;
    &:hover{
      span{
        color: $light-gray;
        border-color: $light-gray;
      }
    }
    span{
      border-color: $white;
    }
  }
}