@import "colors.scss";

.section-popular__grid {
  display: grid;
  grid-template-areas:
          "name name name"
          ". slider .";
  grid-template-rows: 18rem 77rem;
  grid-template-columns: 1fr 180rem 1fr;
}

.section-popular__first-row{
  line-height: 0;
  grid-area: name;
  margin-left: 3rem;
}

.section-popular__second-row{
  grid-area: slider;
  h3{
    color: $white;
  }
  p{
    color: $silver;
    font-size: 2rem;
  }
  div{
    padding-top: 0;
    &:nth-child(1){
      margin-top: 2rem;

      h3{
        width: 29rem;
      }
    }
  }
  img {
    width: 70%;
    &:hover{
      transition: all 1s ease;
      opacity: 1;
      box-shadow: 0 0 50px $blue;
    }
  }
}

.section-popular__js-slider-full{
  span{
    width: 30rem;
  }
}

.section-popular__canvas{
  grid-area: section-popular__canvas;
  margin-top: 1.5rem;
}

.section-popular__author{
  grid-area: section-popular__author;
  margin-top: 2rem;
}

.section-popular__price{
  grid-area: section-popular__price;
  margin-top: 1.5rem;
  span{
    color: $gold;
  }
}

.section-popular__info-grid{
  display: grid;
  grid-template-areas:
          "section-popular__author section-popular__author"
          "section-popular__canvas section-popular__price";
  grid-template-rows: 5rem;
}