@import "colors.scss";

.section-writeUs__grid {
  display: grid;
  grid-template-areas:
          "first second third 4th";
  grid-template-rows: 47rem;
  grid-template-columns: 1fr 33% 33% 1fr;
  h3{
    margin-top: 1.5rem;
    line-height: 1.2;
  }
}
.section-writeUs__second-column__footer-text{
  a {
    text-decoration: underline;
    color: gray;
    &:hover{
      color: $white;
    }
  }
  margin-top: 20rem;
  line-height: 1.7;
  font-size: 2.1rem;
  color: gray;
}

.section-writeUs__form{
  ::-webkit-input-placeholder {color:silver}
  input, textarea{
    margin-left: 15rem;
    border-radius: 5px;
  }
}

.section-writeUs__form_email, .section-writeUs__form_text{
  padding-left: 1rem;
  width: 44rem;
  font-size: 2.5rem;
  font-weight: 300;
}

.section-writeUs__form_email {
  height: 6rem;
}

.section-writeUs__form_text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 2rem;
  padding-top: 1rem;
  height: 24rem;
}

.section-writeUs__form_submit{
  font-size: 2.2rem;
  margin-top: 2rem;
  height: 6rem;
  width: 30rem;
  color: $white;
  background: $blue;
  font-weight: 600;
}

.section-writeUs__form-div_submit{
  margin-left: 14rem;
}

label{
  font-size: 0;
}

@import "sectionWriteUsPravilaPopup.scss";