@import "colors.scss";

.section-main__js-slider-full{
  position: relative;
  @import "sliderArrows.scss";
  .slick-arrow{
    margin: 1rem 1rem;
  }
  .slick-current{
    opacity: 0.5;
  }

  .slick-disabled{
    opacity: 0;
  }
}

.section-main__js-slider-mini {
  .slick-current{
    opacity: 0.5;
  }
}

.slick-list{
  overflow: hidden !important;
}

.section-popular__js-slider-full{
  div{
    &:nth-child(1){
      margin: 3rem 3rem;
    }
  }
  @import "sliderArrows.scss";
}