@import "../colors.scss";

.main-header__slider-text {
  max-width: 57.7rem;
  width: 57.7rem;
  font-size: 6.2rem;
  font-weight: 600;
  position: absolute;
  z-index: 20;
  bottom: 7.7rem;
  left: 15.2rem;
  padding: 0;
  margin: 0;
  letter-spacing: .12rem;
  &:hover{
    span{
      border-color: $blue;
    }
  }
  span{
    display: inline-block;
    vertical-align: baseline;
    border-bottom: .35rem $black solid;
    line-height: .95;
  }
}

.main-header__grid-under-bigSlider_text{
  padding-left: 15.2rem;
  padding-top: 4.55rem;
  letter-spacing: .072rem;
  font-size: 1.1rem;
  span{
    font-weight: 100;
  }
  p{
    padding-top: 1.5rem;
    line-height: 1.49;
    font-size: 1.62rem;
  }
}

.main-header__grid-under-bigSlider_navigation{
  padding-left: 4.7rem;
}

.main-header__grid-under-bigSlider{
  display: grid;
  grid-template-areas: "fetch footer";
  grid-template-columns: 39.2rem 80.7rem;
  .footer__grid-navigation{
    grid-template-columns: 0 15.8rem 15.6rem 16.7rem 17.9rem;
    margin-top: 1.35rem;
    a{
      color: $blue;
      border-color: $blue;
      &:hover{
        color: $gray;
        border-color: $gray;
      }
    }
    .footer__grid-navigation-fetch{
      display: none;
    }
  }
  .footer__grid-copyright{
    display: none;
  }
}

.section-main__js-slider-full{
  height: 60rem;
}

.main-header__grid-under-bigSlider{
  margin-top: .3rem;
}

.section-main__js-slider-full{
  width: 144rem;
}