@import "../colors.scss";

.promo-block{
  max-width: 144rem;
  margin: auto;
}

.promo-block__grid{
  max-width: 113.6rem;
  margin: 3.9rem auto 7.35rem auto;
  display: grid;
  grid-template-areas:
          "promo-block__grid_block1 promo-block__grid_block3"
          "promo-block__grid_block2 promo-block__grid_block3"
          "promo-block__grid_block4 promo-block__grid_block4";
  grid-template-rows: 32rem 16rem 47.9rem;
  grid-template-columns: 46.4rem 1fr;
  grid-column-gap: 1.7rem;
  grid-row-gap: 2.4rem;
}
.promo-block__grid_block1{
  grid-area: promo-block__grid_block1;
  background: $pink;
}

.promo-block__grid_block2{
  grid-area: promo-block__grid_block2;
  background: $light-blue;
}

.promo-block__grid_block3{
  grid-area: promo-block__grid_block3;
  background: $light-pink;
}

.promo-block__grid_block4{
  grid-area: promo-block__grid_block4;
  background: $lightest-gray;
}

.promo-block__grid_block-text{
  padding: 2.9rem 0 0 1.6rem;
  position: absolute;
  z-index: 100;
}

.promo-block__grid_block{
  p:nth-child(1){
    z-index: 100;
    font-size: 3.2rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 0.1rem $black solid;
    line-height: 0.95;
  }
  p:nth-child(2){
    z-index: 100;
    margin-top: 1.3rem;
    font-size: 1.6rem;
    max-width: 28rem;
  }
}

.promo-block__grid_block3{
  padding-left: 0.7rem;
}

.promo-block__grid_block1, .promo-block__grid_block2{
  p:nth-child(1){
    letter-spacing: 0.03rem;
  }
}

.promo-block__grid{
  a:hover{
    p{
      border-color: $blue;
    }
    p:nth-child(2){
      color: $black;
    }
  }
  .promo-block__grid_block-white:hover{
    p:nth-child(1){
      color: $gray;
      border-color: $gray;
    }
    p:nth-child(2){
      color: $white;
    }
  }
}

.promo-block__grid_block1-picture{
  position: absolute;
  margin: 8.3rem 0 0 2.9rem;
  transform: rotate(-7.82deg);
}

.promo-block__grid_block3-picture{
  position: absolute;
  margin: 3.7rem 0 0 2.3rem;
}

.promo-block__grid_block-white{
  p{
    color: $white;
    border-color: $white;
  }
  p:nth-child(1){
    border-color: white;
  }
}