doctype html
html(lang="ru")
    include includes/head
        title Фетч - Каталог
        link(rel="stylesheet" href="styles/catalog/catalog.css")
        include includes/meta
    body
        section.catalog-nav
            include includes/nav
        include includes/catalog/itemsList
        section.footer
            include includes/footer
        include includes/scriptsJS