doctype html
html(lang="ru")
    include includes/head
        title Фетч - Оформление заказа
        link(rel="stylesheet" href="styles/checkout/checkout.css")
        include includes/meta
    body
        include includes/checkout/checkoutMainBlock
        include includes/checkout/checkoutFooter
        include includes/scriptsJS