doctype html
html(lang="ru")
    include includes/head
        title Фетч - Главная страница
        link(rel="stylesheet" href="styles/main_page/homepage.css")
        include includes/meta
    body
        include includes/main_page/mainHeader
        include includes/main_page/promoBlock
        section.footer
            include includes/footer
        include includes/scriptsJS