doctype html
html(lang="ru")
    include includes/head
        include includes/title
        include includes/meta
    body
        include includes/mainSection
        include includes/popularSection
        include includes/writeUsSection
        include includes/scriptsJS