section.item-item-info
    .item-info__grid
        .item-info__grid-name
            h1 Maison Margiela Fusion Low Sneakers
            p Кроссовки
        .item-info__grid-select
        .item-info__grid-info
            ul.item-info__grid-info-top(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                li(itemprop="itemListElement")
                    h3(itemprop="description") Материал
                    p(itemprop="description") Кожа,текстиль
                li(itemprop="itemListElement")
                    h3(itemprop="description") Страна-производитель
                    p(itemprop="description") Италия
            .item-info__grid-info-description
                h3 Описание
                ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                    li(itemprop="itemListElement")
                        p(itemprop="description") Деконструктивный и авангардный дизайн
                        p(itemprop="description") с уникальными концепциями и нетрадиционным мастерством.
                    li(itemprop="itemListElement")
                        p(itemprop="description") В качестве материала используются два вида кожи. Верх дополнен деталями из сетчатого материала
                        p(itemprop="description") и текстиля.
                    li(itemprop="itemListElement")
                        p(itemprop="description") Грубые и многослойные кроссовки показывают отличие от традиционного аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.
                    li(itemprop="itemListElement")
                        p(itemprop="description") Оригинальная слегка асимметричная система шнуровки и фирменный стежок на заднике завершают уникальный внешний вид.
            .item-info__grid-info-details
                h3 Детали
                ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Два вида кожи
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Детали из текстиля
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Неординарная шнуровка
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Перфорация на мыске
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Стежок на заднике
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Фигурная резиновая подошва
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Цепкая подметка
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Окрашивание с брызгами и потеками
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Пестрая расцветка
        .item-info__grid-photo
            .item-info__grid-photo__js-slider-full
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image1-656.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image1-656.jpg" width="656" height="656" alt="Кроссовок - фото 1")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image2-656.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image2-656.jpg" width="656" height="656" alt="Кроссовок - фото 2")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image3-656.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image3-656.jpg" width="656" height="656" alt="Кроссовок - фото 3")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image4-656.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image4-656.jpg" width="656" height="656" alt="Кроссовок - фото 4")
            .item-info__grid-photo__js-slider-mini
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image1-140.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image1-140.jpg" width="140" height="140" alt="Кроссовок - фото 1")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image2-140.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image2-140.jpg" width="140" height="140" alt="Кроссовок - фото 2")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image3-140.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image3-140.jpg" width="140" height="140" alt="Кроссовок - фото 3")
                .slider__item
                    picture
                        source.js-lazy(data-src='https://viste1.github.io/build/assets/img/item/image4-140.webp' srcset="assets/img/lazy-placeholder.jpg" type='image/webp')
                        img(data-lazy="assets/img/item/image4-140.jpg" width="140" height="140" alt="Кроссовок - фото 4")