.mfp-hide.white-popup-sizes#sizes
    .white-popup-sizes-container
        table
            caption Таблица размеров
            tr
                td.white-popup-sizes-container__table-head US
                td 4
                td 4,5
                td 5
                td 5,5
                td 6
                td 6,5
                td 7
                td 7,5
            tr
                td.white-popup-sizes-container__table-head UK
                td 3,5
                td 4
                td 4,5
                td 6
                td 5,5
                td 6
                td 6,5
                td 7
            tr
                td.white-popup-sizes-container__table-head EU
                td 36
                td 37
                td 38
                td 39
                td 40
                td 41
                td 42
                td 43