section.item-item-info
    .item-info__grid
        .item-info__grid-name
            h1 Maison Margiela Fusion Low Sneakers
            p Кроссовки
        .item-info__grid-select
            .item-info__grid-select-container
                form.item-info__grid-select-container__form
                    .item-info__grid-select-container__form-colors-container(itemscope itemtype="https://schema.org/Product")
                        span Цвет
                        .item-info__grid-select-container__form-color-input-group
                            input.item-info__grid-select-container__form-color_input#first-color(type="radio", name="colors" value="white-pink" checked)
                            label.item-info__grid-select-container__form-color_label(for="first-color" itemprop="color") Белый с розовым
                        .item-info__grid-select-container__form-color-input-group
                            input.item-info__grid-select-container__form-color_input#second-color(type="radio", name="colors" value="white-green")
                            label.item-info__grid-select-container__form-color_label(for="second-color" itemprop="color") Белый с зелёным
                    .item-info__grid-select-container__form-sizes-container
                        span Размер US
                        .item-info__grid-select-container__form-size-input-group
                            input.item-info__grid-select-container__form-size_input#first-size(type="radio", name="sizes" value="6")
                            label.item-info__grid-select-container__form-size_label(for="first-size" itemprop="size") 6
                        .item-info__grid-select-container__form-size-input-group
                            input.item-info__grid-select-container__form-size_input#second-size(type="radio", name="sizes" value="6.5" checked)
                            label.item-info__grid-select-container__form-size_label(for="second-size" itemprop="size") 6,5
                        .item-info__grid-select-container__form-size-input-group
                            input.item-info__grid-select-container__form-size_input#third-size(type="radio", name="sizes" value="7")
                            label.item-info__grid-select-container__form-size_label(for="third-size" itemprop="size") 7
                        .item-info__grid-select-container__form-size-input-group
                            input.item-info__grid-select-container__form-size_input#4th-size(type="radio", name="sizes" value="9")
                            label.item-info__grid-select-container__form-size_label(for="4th-size" itemprop="size") 9
                    a(href="#sizes").item-info__grid-select-container__form-size-table__js-popup-sizes
                        span Таблица размеров
                    br
                    label.item-info__grid-select-container__form-submit_button
                        input.item-info__grid-select-container__form-submit_button_input.yellow-gradient_button(itemprop="price" type="submit" value="Купить, 92 000 ₽")
        .item-info__grid-info
            ul.item-info__grid-info-top(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                li(itemprop="itemListElement")
                    h3(itemprop="description") Материал
                    p(itemprop="description") Кожа,текстиль
                li(itemprop="itemListElement")
                    h3(itemprop="description") Страна-производитель
                    p(itemprop="description") Италия
            .item-info__grid-info-description
                h3 Описание
                ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                    li(itemprop="itemListElement")
                        p(itemprop="description") Деконструктивный и авангардный дизайн
                        p(itemprop="description") с уникальными концепциями и нетрадиционным мастерством.
                    li(itemprop="itemListElement")
                        p(itemprop="description") В качестве материала используются два вида кожи. Верх дополнен деталями из сетчатого материала
                        p(itemprop="description") и текстиля.
                    li(itemprop="itemListElement")
                        p(itemprop="description") Грубые и многослойные кроссовки показывают отличие от традиционного аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.
                    li(itemprop="itemListElement")
                        p(itemprop="description") Оригинальная слегка асимметричная система шнуровки и фирменный стежок на заднике завершают уникальный внешний вид.
            .item-info__grid-info-details
                h3 Детали
                ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Два вида кожи
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Детали из текстиля
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Неординарная шнуровка
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Перфорация на мыске
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Стежок на заднике
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Фигурная резиновая подошва
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Цепкая подметка
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Окрашивание с брызгами и потеками
                    li(itemprop="itemListElement")
                        p(itemprop="description") — Пестрая расцветка
        .item-info__grid-photo
            .item-info__grid-photo__js-slider-full(itemscope itemtype="https://schema.org/Product")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image1-656.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image1-656.jpg" width="656" height="656" alt="Кроссовок - фото 1")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image2-656.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image2-656.jpg" width="656" height="656" alt="Кроссовок - фото 2")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image3-656.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image3-656.jpg" width="656" height="656" alt="Кроссовок - фото 3")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image4-656.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image4-656.jpg" width="656" height="656" alt="Кроссовок - фото 4")
            .item-info__grid-photo__js-slider-mini(itemscope itemtype="https://schema.org/Product")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image1-140.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image1-140.jpg" width="140" height="140" alt="Кроссовок - фото 1")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image2-140.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image2-140.jpg" width="140" height="140" alt="Кроссовок - фото 2")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image3-140.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image3-140.jpg" width="140" height="140" alt="Кроссовок - фото 3")
                .slider__item
                    picture(itemprop="image")
                        source(data-lazy='assets/img/item/image4-140.webp' type='image/webp')
                        img(data-lazy="assets/img/item/image4-140.jpg" width="140" height="140" alt="Кроссовок - фото 4")

include itemSizesPopup