section.section-checkout-main
    .section-checkout-main__grid
        .section-checkout-main__grid-left-container
            h1 Фетч • Оформление заказа
            .section-checkout-main__grid-left-container_items
        .section-checkout-main__grid-right-container
            .section-checkout-main__grid-right-container_form
            .section-checkout-main__grid-right-container_form-button
                a(href="/checkout-complete.html").section-checkout-main__grid-right-container_form-button__grid
                    .section-checkout-main__grid-right-container_form-button__grid_text
                    .section-checkout-main__grid-right-container_form-button__grid_button