section.section-checkout-main
    .section-checkout-main__grid
        .section-checkout-main__grid-left-container
            h1 Фетч • Оформление заказа
            .section-checkout-main__grid-left-container_items
        form.section-checkout-main__grid-right-container__form.section-checkout-main__grid-right-container
            .section-checkout-main__grid-right-container__areas
                label.section-checkout-main__grid-right-container__areas-email_label(for="email")
                    span Эл. почта
                    input.section-checkout-main__grid-right-container__areas-email_input#email(type="email" placeholder="petrov@yandex.ru" required)
                    p Пришлём чеки и трек-номер
                label.section-checkout-main__grid-right-container__areas-tel_label(for="phone")
                    span Телефон
                    input.section-checkout-main__grid-right-container__areas-tel_input#phone(placeholder="+7 999 275-12-37" required)
                    p Менеджер позвонит, чтобы подтвердить заказ
                label.section-checkout-main__grid-right-container__areas-city_label(for="city")
                    span Город
                    input.section-checkout-main__grid-right-container__areas-city_input#city(placeholder="Москва")
                    br
                label.section-checkout-main__grid-right-container__areas-address_label(for="address")
                    span.test2 Адрес
                    textarea.section-checkout-main__grid-right-container__areas-address_text#address(placeholder="Тимирязевская, 32, квартира 99, вход со двора")
            .section-checkout-main__grid-right-container__grid
                .section-checkout-main__grid-right-container__grid_text
                    p
                        | Бесплатная
                        br
                        | доставка курьером. Оплата картой онлайн.
                .section-checkout-main__grid-right-container__grid_button
                    label.section-checkout-main__grid-right-container__grid_button-label
                        input.section-checkout-main__grid-right-container__grid_button-submit.yellow_gradient(onclick="window.location='https://viste1.github.io/build/checkout-complete.html'" type="submit" value="Оформить заказ, 276 000 ₽")