section.section-checkout-footer
    .section-checkout-footer__grid(itemscope itemtype="https://schema.org/Store")
        .section-checkout-footer__grid_fetch(itemprop="legalName") © Фетч-команда, 2019
        .section-checkout-footer__grid_tel(itemprop="telephone") 8 800 912-11-42, звонок бесплатный
        .section-checkout-footer__grid_email
            a(href="mailto:shop@fetch.ru" itemprop="email") shop@fetch.ru
        .section-checkout-footer__grid_rules
            a(href="#pravila" itemprop="url").section-footer__js-popup-rules
                span Правила обработки персональных данных

include ../footerRulesPopup