section.section-checkout-footer
    .section-checkout-footer__grid
        .section-checkout-footer__grid_fetch © Фетч-команда, 2019
        .section-checkout-footer__grid_tel 8 800 912-11-42, звонок бесплатный
        .section-checkout-footer__grid_email
            a(href="mailto:shop@fetch.ru") shop@fetch.ru
        .section-checkout-footer__grid_rules
            a(href="#pravila").section-footer__js-popup-rules
                span Правила обработки персональных данных

include ../footerRulesPopup