section.checkout-complete-section
    .checkout-complete-section__container
        .checkout-complete-section__container-head
            h1 Заказ №213 оформлен
        .checkout-complete-section__container-text
            p Скоро вам позвонит менеджер, чтобы подтвердить заказ.
            p
                a(href="/index.html") Вернуться на главную
                span  или 
                a(href="/catalog.html") продолжить покупки в каталоге