section.about-section
    .about-section__grid
        .about-section__grid-about
            h1 О магазине Фетч
            ul(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                li(itemprop="itemListElement")
                    span(itemprop="description") В магазине Фетч представлено более 100 ведущих мировых производителей одежды и обуви.
                li(itemprop="itemListElement")
                    span(itemprop="description") Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный статус своей продукции — Stone Island, Polo Ralph Lauren, C.P. Company.
                li(itemprop="itemListElement")
                    span(itemprop="description") Приобрести последние можно лишь в нескольких торговых точках по всему миру,включая Фетч.
                li(itemprop="itemListElement")
                    span(itemprop="description") Особый повод для гордости — обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и другие.
        .about-section__grid-info
            .about-section__grid-info_text(itemscope itemtype="https://schema.org/Organization")
                p(itemprop="address") Москва, Тимирязевская, 3
                ul.about-section__grid-info_text_contacts(itemscope itemtype="https://schema.org/Store")
                    li.about-section__grid-info-text-email
                        a(href="mailto:shop@fetch.ru" itemprop="email") shop@fetch.ru
                    li.about-section__grid-info_text-phone
                        p(itemprop="telephone") 8 800 912-11-42
                    li.about-section__grid-info_text-call
                        p(itemprop="description") Звонок бесплатный
                ul.about-section__grid-info_text_account(itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList")
                    li(itemprop="itemListElement")
                        span(itemprop="description")
                            | ИНН/КПП: 2901152637 / 290101001
                            br
                            | ОГРН: 1062901063576
                            br
                            | БИК: 041117601, к/с 30101810100000000601
                    li(itemprop="itemListElement")
                        span(itemprop="description")
                            | Расчетный счет: 40702810004000103812 в отделении N8637
                            br
                            | Сбербанка России, Архангельск
                    li(itemprop="itemListElement")
                        span(itemprop="description" itemscope itemtype="https://schema.org/Person") Генеральный директор —
                            span(itemprop="familyName")  Василенко
                            span(itemprop="givenName")  Артём
                            span(itemprop="additionalName")  Викторович