section.catalog-items-list
    .catalog-items-list__big-block
        h1 Обувь
        .catalog-items-list__big-block__black
        .catalog-items-list__big-block__grid
            - let n = 1;
                while n <= 16
                    a(href="/build/item.html")
                        .catalog-items-list__big-block__grid_item(class='catalog-items-list__big-block_grid-item'+n++)
        p.catalog-items-list__big-block__pages Страницы