@import "../colors.scss";
@import "../buttonStyles";

.item-info__grid{
  display: grid;
  margin: 3.2rem 0 0 12.9rem;
  grid-template-areas:
    "item-info__grid-name item-info__grid-photo"
    "item-info__grid-select item-info__grid-photo"
    "item-info__grid-info item-info__grid-photo";
  grid-template-rows: 10.7rem 26.7rem 73.3rem;
  grid-template-columns: 46.4rem 65.6rem;
  grid-column-gap: 4rem;
  grid-row-gap: 3.2rem;
}

.item-info__grid-name{
  grid-area: item-info__grid-name;
  margin-left: 2.3rem;
  letter-spacing: 0;
  h1{
    font-size: 3.2rem;
    line-height: 1.3;
  }
  p{
    margin-top: .8rem;
    font-size: 1.3rem;
  }
}

.item-info__grid-select{
  grid-area: item-info__grid-select;
  background: $lightest-gray;
  width: 45rem;
}

.item-info__grid-info{
  grid-area: item-info__grid-info;
  margin-left: 2.3rem;
}

.item-info__grid-info{
  h3{
    font-size: 1.3rem;
    color: $light-gray;
  }
  p{
    font-size: 1.8rem;
    margin-top: .15rem;
    color: $black;
  }
}

.item-info__grid-info-top{
  display: -webkit-box;
  margin-top: .9rem;
  p{
    letter-spacing: .025rem;
  }
  li{
    &:nth-child(2){
      margin-left: 3.1rem;
    }
  }
}

.item-info__grid-info-description{
  margin: 3.2rem 3.5rem 0 0;
  li{
    padding-top: 1.3rem;
    &:nth-child(1){
      padding-top: 0;
    }
  }
}

.item-info__grid-info-details{
  margin-top: 3.3rem;
  ul{
    margin-top: .5rem;
    line-height: 2.1rem;
  }
}

.item-info__grid-photo{
  grid-area: item-info__grid-photo;
  height: 82rem;
}

.item-info__grid-photo__js-slider-full{
  height: 65.6rem;
  width: 65.6rem;
}

.item-info__grid-photo__js-slider-mini{
  margin-top: 2.4rem;
  height: 14rem;
  width: 62.1rem;
  .slick-current{
    opacity: .3;
  }
}

.item-info__grid-select-container{
  margin: 2.4rem 0 0 2.3rem;
  width: 42.6rem;
  height: 26.3rem;
}

.item-info__grid-select-container__form-color_input, .item-info__grid-select-container__form-size_input{
  display: none;
}

.item-info__grid-select-container__form-color-input-group, .item-info__grid-select-container__form-size-input-group {
  margin-top: .5rem;
  height: 3.2rem;
  margin-right: 1.2rem;
  label{
    padding: .5rem .8rem .5rem .8rem;
    color: $gray;
    background: $white;
    border: 1px solid $gray-border;
    border-radius: 8px;
    text-align: center;
  }
  input:checked ~ label {
    border-color: $gray;
    background: $gray;
    color:white;
  }
  input:hover ~ label{
    border-color: $gray;
    cursor: url("https://viste1.github.io/build/assets/img/cursors/pointer.png"), pointer;
  }
}

.item-info__grid-select-container__form-colors-container{
  display: flex;
  font-size: 1.6rem;
  span{
    margin-top: .5rem;
    margin-right: 6.8rem;
  }
}

.item-info__grid-select-container__form-color-input-group:nth-child(3){
  label{
    padding: .5rem 1.4rem .5rem 1.4rem;
  }
}

.item-info__grid-select-container__form-sizes-container{
  display: grid;
  grid-template-areas: "name first_size second_size third_size 4th_size";
  height: 3.2rem;
  grid-template-columns: 10rem 5.4rem 5.4rem 5.4rem;
  font-size: 1.6rem;
  margin-top: 1.4rem;
  span{
    margin-top: 1rem;
  }
}

.item-info__grid-select-container__form-size-input-group{
  label{
    position: absolute;
    min-width: 4.2rem;
  }
}

.item-info__grid-select-container__form-size-table__js-popup-sizes{
  span{
    margin-top: 3.2rem;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: baseline;
    line-height: .95;
    border-bottom: .1rem $black solid;
    &:hover{
      color: $blue;
      border-color: $blue;
    }
  }
}

.item-info__grid-select-container__form-submit_button_input{
  padding: 0 2.5rem;
  margin-top: 4rem;
}