@import "../colors";

.white-popup-sizes {
  .mfp-close{
    margin: 1rem;
    z-index: 10;
    font-size: 0;
    width: 2rem;
    height: 2rem;
    background: url("https://viste1.github.io/build/assets/img/popups/close.svg") 0 0 / 100% no-repeat;
  }
  position: relative;
  background: $white;
  min-height: 19.8rem;
  width: 68.8rem;
  margin: 0 auto;
}

.white-popup-sizes-container{
  padding: 1.6rem 0 0 2.4rem;
  caption{
    padding-bottom: 2.4rem;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
  }
  table{
    border-collapse: collapse;
  }
  td{
    width: 7.05rem;
    height: 3.05rem;
    text-align: center;
    font-size: 1.6rem;
    border: 1px solid $gray-border;
  }
  .white-popup-sizes-container__table-head{
    text-align: left;
    font-weight: bold;
    padding-left: .8rem;
  }
}